<div ng-if="startQuiz && !showResult && isAuthenticated">
    <a class="logout" href="" ng-click="logout()">Logout</a><br>
    <h1>FrenchX</h1>
    <h3>What do you call "{{currentQuestion}}" in French??</h3><br />
    <div class="search-wrapper">
        <form>
            <input ng-model="userInputAnswer" class="inputAnswer" placeholder="Enter french word here.." type="text" />
            <button class="close-icon" type="reset"></button>
        </form>
    </div>
    <input class ='button' type = "submit" name="submit" ng-click = "checkAnswer(userInputAnswer);" ></input>
    <p ><span class="result">Score:{{result}}</span></p>
    <p ><span class="result">Correct answer count:{{result/10}}</span></p>
</div>

<div ng-if="answerFlag && showResult && isAuthenticated" className="quiz-card">
    <a class="logout" href="" ng-click="logout()">Logout</a><br>
    <h1>FrenchX</h1>
    <h3>What do you call "{{currentQuestion}}" in French??</h3><br />
    <p>Good Job!!!</p>
    <input class ='button' type = "submit"  value="Next Question" name = "next" ng-click="nextQuestionGenerator()" />
    <p><span class="result">Score:{{result+10}} <span></p>
    <p><span class="result">Count: {{(result/10)+1}}</span></p>
</div>

<div ng-if="!answerFlag && showResult && isAuthenticated" className="quiz-card">
    <a class="logout" href="" ng-click="logout()">Logout</a>
    <br>
    <h1>FrenchX</h1>
    <h3>Question</label><h3 />
    <p>Sorry! The correct answer is "{{currentAnswer}}" </p>
    <input class ='button' type = "submit" class="next" value="Next Question" name = "next" ng-click="nextQuestionGenerator()" />
    <p><span class="result">Score:{{result}}</span> </p>
    <p><span class="result">Count: {{result/10}}</span></p>
</div>
